/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* border: 1px solid grey; */
	text-decoration:none;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    max-width:100%;
	
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	width: 1000px;
	margin: 0% auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	
}

header{
	display:flex;
	
}

nav{
	display:flex;
	justify-content:space-evenly;
	width:80%;
}

header .logo {
	float:right;
	margin-left:20px;
} 

.middlesec{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	margin-top:40px;
}

.middlesec .middletext {

	/* vertical-align: top; */
	
	font-size: 80px;
	/* margin: 100px 0px; */
	text-align: center;
	/* padding: 0px 60px; */
	
}

.middlesec .middletext h3 {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: text-top;
	font-size: 15px;
	border: 1px solid black;
}






.container_2{
	display:flex;
	justify-content:space-between;
}


.container .textone {
	
	width: 45%;
	margin: 2%;
	padding: 25px 0; 
	line-height: 20px;
}

.middle-img{
	width:100%;
}
.container .texttwo {
	
	width: 30%;
	margin: 2%;	
	padding: 25px 0px;	
	line-height: 20px;	
}


footer {
    margin:2%;
    display:flex;
    flex-direction: column;
}

footer p{
    text-align: center;
}
    

     /* TABLET */
@media (max-width: 800px){
    .container{
        padding: 7%;
    }
    
    .middlesec img{
        display:none;
    }

    header {
        display:flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo{
        width:20%;
        margin-bottom: 4%;
    }

    footer{
        padding: 7%;
    }
}
            /* MOBILE */
@media (max-width: 500px){
    
    .container{
        padding:1%;
        max-width: 100%;
    }
    
    
    header{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    header nav{
        display:flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid lightgrey;
        width:100%;
        
     
    }
    header nav a{
        padding:3% 46%;
        
        border-bottom: 2px solid lightgrey;
        
        
        
    }

    .middlesec{
        border-bottom: 2px solid lightgrey;
        padding-bottom:4%;
        margin-bottom:3%;
    }
    .logo{
        width:40%;

    }
    .container_2{
        display:flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        border-bottom: 2px solid lightgrey;
        
        
    }
    .container .textone{
        width:95%;
    }

    .container .texttwo{
        width:95%;
    }
   
    footer{
        
        
       
        
        padding:0%;
    }
    
}
